<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IshbulatovEyezEntities" connectionString="metadata=res://*/IshbulatovEyez.csdl|res://*/IshbulatovEyez.ssdl|res://*/IshbulatovEyez.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stud231-5\sqlexpress;initial catalog=IshbulatovEyez;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>